In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cars-week1/Cars.csv
/kaggle/input/summer-analytics-week-1/SA2025_W1.ipynb

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("/kaggle/input/cars-week1/Cars.csv")

In [6]:
df.shape

(398, 9)

In [7]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [9]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [11]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [16]:
# Removing rows where horsepower is missing to reduce error
df_clean = df.dropna(subset=['horsepower'])

In [19]:
#For Question 8 -  Get the row(s) with the maximum horsepower
max_hp = df_clean['horsepower'].max()
car_max_hp = df_clean[df_clean['horsepower'] == max_hp]
print("Car with highest horsepower:")
print(car_max_hp[['name', 'horsepower']])

Car with highest horsepower:
                   name  horsepower
116  pontiac grand prix       230.0

In [20]:
# For Question 9 - Number of cars with mpg ≥ 35
high_mpg = df[df['mpg'] >= 35]
print("Q9: Number of cars with mpg ≥ 35:", len(high_mpg))

Q9: Number of cars with mpg ≥ 35: 36

In [21]:
# For Question 10 - Most common origin (horsepower > 100 and weight < 3000)
filtered = df_clean[(df_clean['horsepower'] > 100) & (df_clean['weight'] < 3000)]
origin_counts = filtered['origin'].value_counts()
print("Q10: Most common origin for horsepower > 100 and weight < 3000:")
print(origin_counts)

Q10: Most common origin for horsepower > 100 and weight < 3000:
origin
usa       9
europe    8
japan     6
Name: count, dtype: int64

In [22]:
# For Question 11 - Mean acceleration of Japanese cars (rounded to 2 decimals)
japan_cars = df[df['origin'] == 'japan']
mean_acc = round(japan_cars['acceleration'].mean(), 2)
print("Q11: Mean acceleration of Japanese cars:", mean_acc)

Q11: Mean acceleration of Japanese cars: 16.17

In [23]:
# For Question 12 - Year with highest average mpg
avg_mpg_by_year = df.groupby('model_year')['mpg'].mean()
best_year = avg_mpg_by_year.idxmax()
print("Q12: Year with highest average mpg:", best_year)

Q12: Year with highest average mpg: 80